[submodule "switch-tools"]
	path = switch-tools
	url = https://github.com/switchbrew/switch-tools.git
[submodule "Tinfoil"]
	path = Tinfoil
	url = https://github.com/Adubbz/Tinfoil.git
[submodule "ReiNX"]
	path = ReiNX
	url = https://github.com/Reisyukaku/ReiNX.git
